.header{
    position: sticky;
    margin: 0px 10px;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(154, 201, 242);
    color: black;
}
.header_info{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size : larger;
    font-weight : 500;
    display: flex;
    align-items: center;
}
.header_right{
    display: flex;
    align-items: center;
}
.header_search{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f4f4f9;
    width: 35vw;
    height: 10vh;
    color: -interal-light-dark(black,white);
       border-radius: .20rem;
}
.header_search >input {
    border: none;
    height: 10vh;
    background: transparent;
    outline: none;
    width: 100%;
}