.header{
    position: sticky;
    margin: 0px 10px;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
}
.header_info{
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: 500;
    
}
.header_right{
    display: flex;
    align-items: center;
}
.header_search{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f4f4f9;
    width: 800px;
    height: 45px;
    color: -interal-light-dark(black,white);
    border-radius: 5px;
}
.header_search >input {
    border: none;
    height: 10vh;
    background: transparent;
    outline: none;
    width: 100%;
}