.template_section{
    background-color: #f4f4f9;
    padding-bottom: 200px;
    padding-top: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.templete_body{
    margin-top: 10px;
    margin-left: 100px;
}

.template_top{
    margin-left: 180px;
    margin-right: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
   

}

.template_right{
    display: flex;
    float: right;
    
}

.template_left{
    display: flex;
    float : left;
    margin-left: -70px
}

.gallery_button{
    display: flex;
    float: right;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    font-size: 14px;


}

.card{
   float: left;
   padding: .5rem;

   margin: auto;
}

.card_image{
    box-sizing: border-box;
    height: 120px;
    width: 140px;
    cursor:pointer;
    border-radius: 2px;
    border: 0.2px solid white;
    align-items: center ;
    display: flex;

}

.card_image:hover{
    border: 0.2rem solid #15e8a5;
}

.card_title{
    font-size:14px;
    margin-top: 2px;
    color :black;
    font-weight: 500;
        
}
